# (Optional) Direct EmailJS / Custom SMTP Integration Credentials
# Sign up free at https://www.emailjs.com/ and connect your Gmail / Custom SMTP server
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
